{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} ETI Blog 2020. {% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('homepage') }}">Login/Logout</a></li>
            <li><a href="{{ path('homepage') }}">Register</a></li>
            <li><a href="{{ path('homepage') }}">Posts</a></li>
            <li><a href="{{ path('first_page') }}">First Page</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
